
@import './src/styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-1 {
    @apply w-full flex tracking-[0.04em] custom_sm:tracking-normal justify-center text-5xl custom_nm:text-6xl custom_md:text-7xl font-fontAutography pb-5 custom_sm:pb-10 custom_sm:py-10;
  }
  .heading-2 {
    @apply text-2xl tracking-wide capitalize font-bold text-primarydark;
  };
  .heading-3 {
    @apply group-hover:text-primarydark group-hover:font-semibold text-lg font-medium tracking-wide;
  };
  .button {
    @apply px-2.5 py-2 my-3 text-sm text-white border border-white bg-primary active:bg-white active:text-primary active:border-primary;
  }
  .filter-btn {
    @apply px-3 py-1 my-2 rounded-sm mr-4 capitalize text-primarydark border border-primarydark focus:bg-primary focus:text-white focus:border-primary hover:text-primarydark hover:bg-primarylight hover:border-primarylight
  }
  .common-style {
    @apply container mx-auto px-0 custom_sm:px-10 custom_md:px-20 custom_lg:px-40 text-primary;
  }
  .post-grid {
    @apply grid custom_nm:grid-cols-2 custom_lg:grid-cols-3 gap-3;
  }
  .icon-style {
    @apply p-2 hover:bg-primarylight hover:text-primarydark rounded-sm;
  }
}

* {
  font-family: 'fontEB';
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  user-select: none;
  font-size: large;
}

.custom-icon-height {
  line-height: 18px;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.row-span-3 {
  grid-row: span 3 / span 3;
}

.fix-min-h {
  min-height: 100%;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }