@font-face {
  font-family: 'fontAutography';
  src: url('../assets/fonts/Autography.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontEB';
  src: url('../assets/fonts/EBGaramond-Medium.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontPrata';
  src: url('../assets/fonts/Prata-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}