
@import './styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-1 {
    @apply w-full flex justify-center text-4xl custom_sm:text-5xl custom_nm:text-6xl custom_md:text-7xl font-fontAutography pb-10 custom_sm:py-10;
  }
  .heading-2 {
    @apply text-2xl capitalize font-bold text-primarydark;
  };
  .heading-3 {
    @apply group-hover:text-primarydark group-hover:font-semibold text-lg font-medium;
  };
  .button {
    @apply px-3 py-2 my-5 text-white border border-white bg-primary hover:bg-white hover:text-primary hover:border-primary;
  }
  .common-style {
    @apply container mx-auto px-0 custom_sm:px-10 custom_md:px-20 custom_lg:px-40 text-primary;
  }
  .post-grid {
    @apply grid custom_nm:grid-cols-2 custom_lg:grid-cols-3 gap-3;
  }
  .icon-style {
    @apply p-2 hover:bg-primarylight hover:text-primarydark rounded-md;
  }
}

* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  font-size: medium;
}

.custom-text-lg {
  font-size: large;
  line-height: 18px;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.row-span-3 {
  grid-row: span 3 / span 3;
}
